apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: kiashop  # Ajout du namespace
  labels:
    app: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: balama/kiashop:0.1.11-kia-website # Nouveau dépôt DockerHub
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: nginx
  name: kiashop-service
  namespace: kiashop  # Ajout du namespace
spec:
  type: LoadBalancer
  ports:
    - name: tomcat-port
      port: 80     # Port interne du service
 #      nodePort: 30080 # Port externe sur lequel le service sera accessible
      targetPort: 80 # Port du conteneur
  selector:
    app: nginx